<!-- Footer for scratchattach pages. Not ideal -->
{% if page.file.src_uri.startswith('SA-Wiki') %}
  <div>
      <p>
          <a href="https://scratchattach.readthedocs.io/en/latest/">Extended documentation (WIP)</a>
          - <a href="https://github.com/TimMcCool/scratchattach/blob/main/CHANGELOG.md">Change log</a>
          - <a href="https://scratchattach.tim1de.net/">Website</a>
      </p>
      <p align="left">
        <img width="70" src="https://raw.githubusercontent.com/TimMcCool/scratchattach/refs/heads/main/logos/logo.svg">
      </p>
  </div>
{% endif %}

{% if page.meta.comments %}
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <!-- Insert generated snippet here -->
    <script src="https://giscus.app/client.js"
        data-repo="scratch-api/scratch-api.github.io"
        data-repo-id="R_kgDOPnOq5g"
        data-category="Giscus"
        data-category-id="DIC_kwDOPnOq5s4CvZsT"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

  <!-- Synchronize Giscus theme with palette -->
  <script>
    var giscus = document.querySelector("script[src*=giscus]")

    // Set palette on initial load
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object") {
      var theme = palette.color.scheme === "slate"
        ? "transparent_dark"
        : "light"

      // Instruct Giscus to set theme
      giscus.setAttribute("data-theme", theme) 
    }

    // Register event handlers after documented loaded
    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]")
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate"
            ? "transparent_dark"
            : "light"

          // Instruct Giscus to change theme
          var frame = document.querySelector(".giscus-frame")
          frame.contentWindow.postMessage(
            { giscus: { setConfig: { theme } } },
            "https://giscus.app"
          )
        }
      })
    })
  </script>
{% endif %}